<%= turbo_frame_tag "user_#{@user.id}_overview" do %>
  <%= render partial: "overview", locals: { user: @user, friendship: @friendship } %>
<% end %>

<div class="container is-max-desktop">
  <%= turbo_frame_tag "posts" do %>
    <% @posts.each do |post| %>
      <%= render post, comments: post.comments %>
    <% end %>
  <% end %>
</div>
