<div class="container">
  <%= turbo_frame_tag "new_post", src: new_post_path %>
</div>

<div class="container is-max-desktop">
  <%= turbo_frame_tag "post_#{@post.id}_comment_form" do %>
    <%#= render @posts %>
    <% @posts.each do |post| %>
      <%= render post, comments: post.comments %>
    <% end %>
  <% end %>
</div>
