<div class="container">
  <%= turbo_frame_tag "new_post", src: new_post_path %>
</div>

<div class="container is-max-desktop">
  <%= turbo_frame_tag "posts" do %>
    <%= render @posts %>
  <% end %>
</div>
